html {
	background-image: url('../papers.co-ve67-maze-art-dark-abstract-patterns-8-wallpaper.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
}

body {
	background: white;
	text-align: left;
}

img {
    border-radius: 0;
    height: initial;
    margin: 0 auto;
        margin-left: auto;
    width: initial;
    position: relative;
    left: 50%;
    margin-left: -50px;
}



@media (min-width:320px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	body {
		margin-top: 0;
		margin-bottom: 0;
		width: 100%;
	}

	#content {
		padding: 1em;
		border: none;
	}

}

@media (min-width:481px) {

	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {

	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {

	/* tablet, landscape iPad, lo-res laptops ands desktops */
	body {
		margin-top: 5rem;
		margin-bottom: 5rem;
		width: 70%;
	}

	#content {
		padding: 1em;
		border: 1px solid #ddd;
	}

}

@media (min-width:1025px) {

	/* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {

	/* hi-res laptops and desktops */
	body {
		width: 50%;
	}

}

#mazegulp {
	border-top: 1px solid #17cfa3;
}

ol, ul {
	padding-left: 1em;
}

/*http://blog.teamtreehouse.com/customize-ordered-lists-pseudo-element*/
li {
    padding-left: 0;
    margin-left: -1em;
    counter-increment: step-counter;
    list-style: none;
    margin-bottom: 3rem;
}

ol li > p:first-child::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: #ff6060;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
}

pre {
	background-color: #454545;
	padding: 1rem;
	text-align: left;
	color: #17cfa3;
	font-weight: bold;
	line-height: 1.5em;
	border-left: 4px solid #ff6060;
}

blockquote {
	font-style: italic;
	text-align: left;
	border-left: 4px solid #ff6060;
}

a {
	text-decoration: none;
}
